---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';
import CallToAction from "../components/widgets/CallToAction.astro";

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
    image={{
      src: 'https://images.unsplash.com/photo-1522071820081-009f0129c71c?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'DataTide Image',
    }}
  >
    <Fragment slot="title">
      Elevate your data insights to the next level with our <br />
      <span class="text-accent dark:text-white highlight">Powerful Data Solutions</span>
    </Fragment>

    <Fragment slot="subtitle">
      At DataTide, we specialize in empowering businesses through cutting-edge data solutions that drive growth and innovation. Our fully remote team is dedicated to delivering exceptional service and results.
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Statistics about us"
    stats={[
      { title: 'Total Years of Industry Experience', amount: '50+' },
      { title: 'Solutions Delivered', amount: '50+' },
      { title: 'Clients Served', amount: '10+' },
      { title: 'Data Experts', amount: '5+' },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Our offerings"
    subtitle="We provide a comprehensive range of data services to help you leverage your data effectively."
    columns={3}
    isBeforeContent={true}
     items={[
    {
      title: 'Data Integration/Ingestion',
      description: 'Tailored solutions for unifying diverse data sources and building robust ELT pipelines that drive insights.',
      icon: 'tabler:template',
    },
    {
      title: 'Data Storage',
      description: 'Expertise in designing scalable data warehouses, lakes, and databases for optimal data management and accessibility.',
      icon: 'tabler:template',
    },
    {
      title: 'Migrations',
      description: 'Streamlined transitions from legacy systems to cutting-edge cloud solutions, maximizing performance and reliability.',
      icon: 'tabler:template',
    },
    {
      title: 'Machine Learning & AI Solutions',
      description: 'Innovative architecture for advanced Generative AI projects and ML solutions that elevate analytical capabilities.',
      icon: 'tabler:template',
    },
    {
      title: 'Performance Optimization',
      description: 'Comprehensive strategies to enhance engineering efficiency, reduce operational costs, and improve data accessibility.',
      icon: 'tabler:template',
    },
    {
      title: 'Self-Service Analytics',
      description: 'Empowering users with the freedom to explore clean, high-quality data for actionable insights and informed decision-making.',
      icon: 'tabler:template',
    },
  ]}

  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Our values"
    subtitle="At DataTide, we are committed to upholding values that resonate with our clients and partners. Our core principles guide our operations and interactions."
    items={[
      {
        title: 'Customer-centric approach',
        description:
          'We prioritize our clients’ needs and strive to provide tailored solutions that enhance their success.',
      },
      {
        title: 'Constant Improvement',
        description:
          'We believe in continual learning and improvement, ensuring our methodologies and technologies remain at the forefront of the industry.',
      },
      {
        title: 'Ethical Practices',
        description:
          'We conduct our business with integrity, ensuring transparency and ethical behavior in all our dealings.',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contact Us',
        href: '/contact',
        icon: 'tabler:message',
      },
    ]}
  >
    <Fragment slot="title">
      Transform Your Data&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">with DataTide</span>
    </Fragment>
  </CallToAction>
</Layout>
