---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'DataTide — Comprehensive Data and Analytics Engineering Solutions as a Service',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get in touch',
        href: '/contact',
        icon: 'tabler:message',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/datamide-hero-image.png', alt: 'DataTide Hero Image' }}
  >
    <Fragment slot="title">
      Tailored <span class="hidden xl:inline">Data and Analytics</span>
      <span class="text-accent dark:text-white highlight"> Engineering Solutions</span> for Your Business
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">DataTide</span> offers a dedicated team of data experts providing custom solutions designed to drive your business forward efficiently and effectively.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">DataTide: Precision Engineering for Data-Driven Success.</span>
      Designed for Startups, Small Businesses, and Enterprises of all sizes.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Our Expertise"
    title="What DataTide Delivers"
    subtitle="Empowering your business with innovative, scalable data solutions."
    items={[
      {
        title: 'Advanced Data Architecture',
        description:
          'Tailored data platforms that consolidate infrastructure and boost performance for reliable growth.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Generative AI Integration',
        description:
          'Cutting-edge AI capabilities that transform insights into actionable decisions for enhanced business intelligence.',
        icon: 'tabler:components',
      },
      {
        title: 'Best Practice Solutions',
        description:
          'Robust, secure, and scalable data systems designed with industry best practices to evolve with your needs.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Performance Optimization',
        description:
          'Streamlined data systems for optimal efficiency, enhancing user experience and freeing resources for growth.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Data Governance & Compliance',
        description:
          'Ensuring data integrity with rigorous governance practices that meet the highest security and regulatory standards.',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Cloud Migration Expertise',
        description:
          'Seamless cloud transitions that unlock enhanced scalability, performance, and flexibility for your organization.',
        icon: 'tabler:cloud-upload',
      },
    ]}
  />


  />

  <Content
  isReversed
  tagline="Our Approach"
  title="Building Future-Proof Data Solutions"
  items={[
    {
      title: 'Modern Data Architecture',
      description:
        'We design robust and scalable architectures that serve as the backbone of your data strategy, built to evolve with your business needs and technological advancements.',
    },
    {
      title: 'Advanced Data Engineering Practices',
      description:
        'Our team employs state-of-the-art engineering methods, including modular ELT pipelines and real-time data processing, to ensure clean, reliable, and actionable data.',
    },
    {
      title: 'Scalable Cloud Solutions',
      description:
        'With deep expertise in cloud platforms, we create solutions that are flexible and scalable, allowing for seamless growth and adaptation as your data demands increase.',
    },
  ]}
  image={{
    src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
    alt: 'Future-Proof Data Solutions Image',
  }}
>
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Building on Modern Foundations</h3>
    Empower your business with resilient, future-focused data solutions.
  </Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Content>


  <!-- Steps Widget ****************** -->

<Steps
  title="Launch Your Data Platform with DataTide in Three Simple Steps"
  items={[
    {
      title: 'Step 1: <span class="font-medium">Contact Us</span>',
      description:
        "Let's discuss your unique data and analytics needs. We’ll schedule an initial session to gather your requirements and understand your objectives, ensuring a comprehensive view of your business goals.",
      icon: 'tabler:package',
    },
    {
      title: 'Step 2: <span class="font-medium">Design & Develop</span>',
      description:
        "Our experts will create a tailored solution that aligns with your vision. Throughout the development process, we will have regular check-ins to keep you informed and ensure alignment with your expectations.",
      icon: 'tabler:letter-case',
    },
    {
      title: 'Step 3: <span class="font-medium">Deploy & Optimize</span>',
      description:
        'We facilitate a smooth deployment of your data platform and provide ongoing optimization to guarantee peak performance. Our team remains available for support as your needs evolve.',
      icon: 'tabler:paint',
    },
    {
      title: 'Success!',
      icon: 'tabler:check',
    },
  ]}
  image={{
    src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
    alt: 'Data Platform Deployment Image',
  }}
/>

  <!-- BlogLatestPosts Widget ******* -->

  <BlogLatestPosts
    title="Explore More in Our Blog"
    information={`Our blog dives into data engineering, analytics, and best practices for scalable solutions.
                        Each article is designed to provide valuable insights and knowledge to advance your understanding in data engineering.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
  title="Frequently Asked Questions"
  subtitle="Get answers to common questions about DataTide's services and approach."
  tagline="FAQs"
  classes={{ container: 'max-w-6xl' }}
  items={[
    {
      title: 'What sets DataTide apart from other data service providers?',
      description:
        "At DataTide, we focus on customized solutions that align with your unique business needs. Our extensive experience in data architecture, cloud migration, and performance optimization enables us to deliver scalable and efficient data platforms that empower your organization.",
    },
    {
      title: 'How does DataTide ensure data security and compliance?',
      description:
        "We prioritize data governance and compliance by implementing robust security measures and adhering to industry standards. Our team will work closely with you to ensure that your data management practices align with regulatory requirements, minimizing risk and protecting your assets.",
    },
    {
      title: 'What is the process for developing a data solution with DataTide?',
      description:
        "Our process begins with a thorough discussion of your needs during our initial session. We will gather requirements and outline a tailored plan. Throughout the development phase, we maintain regular check-ins to ensure alignment with your goals, followed by a smooth deployment and ongoing optimization.",
    },
    {
      title: 'Which industries does DataTide serve?',
      description:
        "We provide adaptable data solutions across various sectors, including finance, healthcare, retail, and technology. Our industry-agnostic approach allows us to tailor our services to meet the specific challenges and opportunities within your field.",
    },
    {
      title: 'How does DataTide handle data migration to the cloud?',
      description:
        "Our team specializes in seamless cloud migration, ensuring that your existing data is transferred securely and efficiently. We utilize best practices and modern tools to minimize disruption and enhance performance in your new cloud environment.",
    },
  ]}
/>

  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Total Years of Industry Experience', amount: '50+' },
      { title: 'Solutions Delivered', amount: '50+' },
      { title: 'Clients Served', amount: '10+' },
      { title: 'Data Experts', amount: '5+' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contact Us',
        href: '/contact',
        icon: 'tabler:message',
      },
    ]}
  >
    <Fragment slot="title">
      Transform Your Data&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">with DataTide</span>
    </Fragment>
  </CallToAction>
</Layout>
